:root {
    --main-color: #FF6347;
}

.App {
    
    /* background: linear-gradient(to top, #ff00cc, #333399); */
   /*  background: linear-gradient(to top, #228B22, #333399);
    /* background: url('https://cdn.shopify.com/s/files/1/1060/9112/products/96_1024x1024.png?v=1526760250') fixed; */
    /* background: url('https://uhs.berkeley.edu/sites/default/files/styles/openberkeley_brand_widgets_rectangle/public/sos-nutrition-whatseatingyou.jpg?itok=uqiZ3lPh'); */
   
    background: honeydew;
    background-size: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 100px auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: stretch;
}

.App-navigation {
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    
}

.App-sidebar {
    background: rgba(255, 255, 255, 0.9);
    display: relative;
    padding: 10px;
}

.App-sidebar img {
    max-width: 100%;
}

.App-navigation h1 {
    font-size: 36pt;
}

.Article-title {
    font-size: 2em;
}

.App-navigation {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.App-navigation a {
    font-size: 14pt;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
}

.App-navigation a:hover {
	background-color: transparent;
    text-decoration: underline;
}

.App-mainContent {
    grid-column: 2;
}

.MainColor {
    background-color: var(--main-color);
}


