
.WriteArticle input,
.WriteArticle textarea,

.accountPageContainer{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
justify-items: center;
height: 100%;
}

.accountPage-body{
  grid-row: 1;
  margin-bottom: 50px;

}
.accountPage-recipeSection{
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.accountPage--recipeNameSection{
  grid-row: 2;
  grid-column: 1;
 
  
}
.accountPage--calCountSection{
  grid-row: 2;
  grid-column: 2;
 
}

.accountPage--deleteButtonSection{
  Display:grid;
  grid-row: 2;
  grid-column: 3;
  justify-items: ;
  
}

.accountPage--recipeInfo{
  Background: white;
  margin: 10px;
  width: 50%;
  height: 20%;
}

.accountPage-deleteBtn{
  grid-row: 2;
  grid-column: 2;

  
  
}

