
.accountPageContainer{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 25% 1fr 50px;
justify-items: center;
height: 90%;
}

.accountPage-body{
  display: grid;
  grid-row: 1;
  justify-items: center;
  margin-bottom: 50px;
}

.accountPage-recipeSection{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  align-items: baseline;
  justify-content: space-between;
}

.accountPage-recipeSectionTitle{
grid-row: 1;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 20px;
color: var(--main-color);
justify-items: center;
font-size: 18px;
}

.accountPage--recipeSectionBody{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  align-content: center;
  justify-items: center;
  border-radius: 5px;
  /* Background: honeydew; */
  border-style: solid;
  border-width: 1px;
  /* border-color:#413F3D; */
  padding: 15px; /* JUST TO LOOK COOL */
  border: 1px solid rgba(115, 115, 115, 0.15);  /* JUST TO LOOK COOL */
  box-shadow: var(--logo-color) 2px 4px 8px;
  transition: all .3s ease-in-out;
  color: var(--logo-color);
  /* margin-bottom: 20px; */
}
.accountPage--recipeInfo{
  display: flex;
  grid-column: 1;
  /* Background: honeydew; */
  margin: 10px;
  width: 90%;
  justify-content: center;

}

.accountPage-calCount{
  display: flex;
  grid-column: 2;
  margin: 10px;
  justify-content: center;
  
}

.accountPage-deleteBtn{
grid-column: 3;
font-size: 14px;
margin: 10px;
border-width: 1px;
height: 25px;
width: 100px;
/* border-color:#413F3D;
background-color: white; */
color: #FFFFFF;

}

.accountPageAddMore-btn {
  grid-row: 3;
  border: 1px solid #D1D1D1;
  background-color: var(--main-color);
  color: #FFFFFF;
  border-radius: 5px;
  width: 100%;
}

.accountPageAddMore-btn--text {
  text-align: center;
  text-decoration: none !important;
}

