.Homepage {
    display: grid;
    grid-template-rows: 160px 1fr;
}

.Homepage-content {
   grid-row: 2; 
}

.Homepage-slogan {
    font-size: 34px;
}

.IngridientList-display {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-content: flex-start;
}

.IngridientList-single {
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 80px 80px;
    /* justify-content: space-between; */
}

.IngridientList-single-name {
    justify-self: start;
    grid-column: 1;
    /* grid-row: 2; */
}

.IngridientList-single-amount {
    grid-column: 2;
    justify-self: end;
}

.IngridientList-single-calorie {
    grid-column: 3;
    /* grid-row: 2; */
    justify-self: end;
}

.Ingridient-total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.Ingridient-total > p {
    grid-column: 1;
    justify-self: start;
}

.Ingridient-total > span {
    grid-column: 2;
    justify-self: end;
    align-self: center;
}

.TomatoImage {
    position: fixed;
    float: left;
    left:0;
    width: 100%;
    height: 25%;
    /* margin-bottom: 30%; */
    display: block;
    margin-top: 10px;
    grid-row: 1;
}

.UserInput {
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 80px 80px;
}

.IngridientAdd-btn {
    margin: 0px;
}


